@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,500&display=swap');

html {
  scroll-behavior: smooth;
}

nav{
  font-family: 'Oswald', sans-serif;
}

body > header > nav > a{
  font-family: 'Tourney', cursive;
}

#navbarSupportedContent > ul > li.nav-item > a{
  font-size: 1.5rem;
}


#navbarSupportedContent > ul > li:nth-child(n) > a{
  font-family: 'Oswald', sans-serif;
}


.navbar{
  background-color: #204469;
}

.text-left{
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}

.avatar{
  height: 50px;
  width: 50px;
  border-radius: 15px;
}

.navbar-toggler-icon{
  border-color: blue;
}

.text-color{
  color: #204669;
}

footer .row{
  background-color: #204469;
}

footer .row h3{
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 1rem;
}

body  > div > div > form > div:nth-child(-n+8) > div:nth-child(n) > input{
  -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 2px solid #2d9fd9;
     color: #204469;
     text-align: center;
     height: 3rem;
}

body  > div > div > form > div:nth-child(n) > div:nth-child(n) > input: focus{
      outline: none;
     border: 1px solid #a0d18c;
     color: #204469;
}

body > div > div > form > div:nth-child(4) > div:nth-child(3) > div > div:nth-child(1) > input{
  -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 2px solid #2d9fd9;
     color: #204469;
     text-align: center;
     height: 3rem;
}








s