@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,500&display=swap');

html {
  scroll-behavior: smooth;
}

nav{
  font-family: 'Oswald', sans-serif;
}

body > header > nav > a{
  font-family: 'Tourney', cursive;
}

#navbarSupportedContent > ul > li.nav-item > a{
  font-size: 1.5rem;
}


#navbarSupportedContent > ul > li:nth-child(n) > a{
  font-family: 'Oswald', sans-serif;
}


.navbar{
  background-color: #204469;
}

.text-left{
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}

.avatar{
  height: 50px;
  width: 50px;
  border-radius: 15px;
}

.navbar-toggler-icon{
  border-color: blue;
}

footer .row{
  background-color: #204469;
}

footer .row h3{
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 1rem;
}


body > div > div > div > div.col-12.col-md-8 > div > div:nth-child(n) > div.col-8 > p{
  font-size: 1rem;
}

.text-color{
  color: #204469;
}

body > div > div > div.row.row-content.p-3 > div.col-md-8 > div > div > div:nth-child(n) > div.col-sm-3 > h6{
  color: #204669;
}

body > div > div > div.row.row-content.p-3 > div.col-md-8 > div > div > div:nth-child(11) > div > a{
  background-color: #204669;
  color: white;
}

body > div > div > div.row.mt-2 > div > div{
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  padding: 2rem;
}

body > div > div > div.row.mt-2 > div > div > div:nth-child(n){
  display: inline-block;
  float: none;
}


/*.details{
  margin: 0px;
  padding: 50px 0px 50px 0px;
  border: 2px ridge;
  min-height: 400px;
  -webkit-box-shadow: 0 10px 10px -10px #000000;
  -moz-box-shadow: 0 10px 10px -10px #000000;
  box-shadow: 0 10px 10px -10px #000000;
}*/